In [24]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lucas\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lucas\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lucas\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import pandas as pd

In [26]:
# CARREGANDO E RENOMEANDO OS DATAFRAMES
df_marcadores = pd.read_csv('goalscorers.csv')
df_resultados = pd.read_csv('results.csv')
df_chutes = pd.read_csv('shootouts.csv')

# EXIBINDO OS CABEÇALHOS DOS DATAFRAMES
print(df_marcadores.head())
print(df_resultados.head())
print(df_chutes.head())

         date  home_team away_team       team            scorer  minute  \
0  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    44.0
1  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    55.0
2  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    70.0
3  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    75.0
4  1916-07-06  Argentina     Chile  Argentina     Alberto Ohaco     2.0

  own_goal penalty
0    False   False
1    False   False
2    False   False
3    False   False
4    False   False
         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England         0.0         0.0   Friendly  Glasgow
1  1873-03-08   England  Scotland         4.0         2.0   Friendly   London
2  1874-03-07  Scotland   England         2.0         1.0   Friendly  Glasgow
3  1875-03-06   England  Scotland         2.0         2.0   Friendly   London
4  1876-03-04  Scotland   England         3.0         0.0   Friendly  Glasgow

    country  neutral
0  Scotland    False
1   England    False
2  Scotland    False
3   England    False
4  Scotland    False
         date    home_team         away_team       winner first_shooter
0  1967-08-22        India            Taiwan       Taiwan           NaN
1  1971-11-14  South Korea  Vietnam Republic  South Korea           NaN
2  1972-05-07  South Korea              Iraq         Iraq           NaN
3  1972-05-17     Thailand       South Korea  South Korea           NaN
4  1972-05-19     Thailand          Cambodia     Thailand           NaN

In [32]:
df_marcadores = df_marcadores.rename(columns={'date': 'DATA', 'home_team': 'TIME_CASA', 'away_team': 'TIME_VISITANTE', 'team':'TIME_VENCEDOR', 'scorer': 'MARCADOR', 'minute':'MINUTO_GOL', 'own_goal':'GOL_CONTRA', 'penalty':'PENALTI'})
df_chutes = df_chutes.rename(columns={'date': 'DATA', 'home_team': 'TIME_CASA','away_team': 'TIME_VISITANTE', 'winner' : 'VENCEDOR', 'first_shooter':'PRIMEIRO_CHUTE' })
df_resultados = df_resultados.rename(columns={'date':'DATA', 'home_team':'TIME_CASA' , 'away_team':'TIME_VISITANTE', 'home_score':'GOLS_CASA', 'away_score':'GOLS_FORA', 'tournament':'CAMPEONATO', 'city':'CIDADE' ,'country':'PAIS', 'neutral':'CAMPO_NEUTRO'})

In [33]:
print(df_marcadores.head())
print(df_resultados.head())
print(df_chutes.head())

         DATA  TIME_CASA TIME_VISITANTE TIME_VENCEDOR          MARCADOR  \
0  1916-07-02      Chile        Uruguay       Uruguay   José Piendibene
1  1916-07-02      Chile        Uruguay       Uruguay  Isabelino Gradín
2  1916-07-02      Chile        Uruguay       Uruguay  Isabelino Gradín
3  1916-07-02      Chile        Uruguay       Uruguay   José Piendibene
4  1916-07-06  Argentina          Chile     Argentina     Alberto Ohaco

   MINUTO_GOL GOL_CONTRA PENALTI
0        44.0      False   False
1        55.0      False   False
2        70.0      False   False
3        75.0      False   False
4         2.0      False   False
         DATA TIME_CASA TIME_VISITANTE  GOLS_CASA  GOLS_FORA CAMPEONATO  \
0  1872-11-30  Scotland        England        0.0        0.0   Friendly
1  1873-03-08   England       Scotland        4.0        2.0   Friendly
2  1874-03-07  Scotland        England        2.0        1.0   Friendly
3  1875-03-06   England       Scotland        2.0        2.0   Friendly
4  1876-03-04  Scotland        England        3.0        0.0   Friendly

    CIDADE      PAIS  CAMPO_NEUTRO
0  Glasgow  Scotland         False
1   London   England         False
2  Glasgow  Scotland         False
3   London   England         False
4  Glasgow  Scotland         False
         DATA    TIME_CASA    TIME_VISITANTE     VENCEDOR PRIMEIRO_CHUTE
0  1967-08-22        India            Taiwan       Taiwan            NaN
1  1971-11-14  South Korea  Vietnam Republic  South Korea            NaN
2  1972-05-07  South Korea              Iraq         Iraq            NaN
3  1972-05-17     Thailand       South Korea  South Korea            NaN
4  1972-05-19     Thailand          Cambodia     Thailand            NaN

In [35]:
df = pd.DataFrame(df_resultados)
# ADICIONANDO UMA COLUNA DE TOTAL DE GOLS DA PARTIDA, SOMANDO COLS CASA E GOLS FORA
df['TOTAL_GOLS'] = df['GOLS_CASA'] + df['GOLS_FORA']

# CALCULANDO A MEDIA DE GOLS POR PARTIDA
media_gols = df['TOTAL_GOLS'].mean()

# EXIBINDO O DATAFRAME COM A NOVA COLUNA DE MEDIA DE GOLS 
print("\nDados com a coluna de total de gols:")
print(df.head())
print(f"\nMédia de gols por partida: {media_gols:.2f}")

Dados com a coluna de total de gols:
         DATA TIME_CASA TIME_VISITANTE  GOLS_CASA  GOLS_FORA CAMPEONATO  \
0  1872-11-30  Scotland        England        0.0        0.0   Friendly
1  1873-03-08   England       Scotland        4.0        2.0   Friendly
2  1874-03-07  Scotland        England        2.0        1.0   Friendly
3  1875-03-06   England       Scotland        2.0        2.0   Friendly
4  1876-03-04  Scotland        England        3.0        0.0   Friendly

    CIDADE      PAIS  CAMPO_NEUTRO  TOTAL_GOLS
0  Glasgow  Scotland         False         0.0
1   London   England         False         6.0
2  Glasgow  Scotland         False         3.0
3   London   England         False         4.0
4  Glasgow  Scotland         False         3.0

Média de gols por partida: 2.94

In [36]:
print(df_resultados.head())

         DATA TIME_CASA TIME_VISITANTE  GOLS_CASA  GOLS_FORA CAMPEONATO  \
0  1872-11-30  Scotland        England        0.0        0.0   Friendly
1  1873-03-08   England       Scotland        4.0        2.0   Friendly
2  1874-03-07  Scotland        England        2.0        1.0   Friendly
3  1875-03-06   England       Scotland        2.0        2.0   Friendly
4  1876-03-04  Scotland        England        3.0        0.0   Friendly

    CIDADE      PAIS  CAMPO_NEUTRO
0  Glasgow  Scotland         False
1   London   England         False
2  Glasgow  Scotland         False
3   London   England         False
4  Glasgow  Scotland         False

In [40]:
df = pd.DataFrame(df_resultados)

# ADICIONANDO UMA COLUNA DE RESULTADO
def determinar_resultado(gols_casa, gols_fora):
    if gols_casa > gols_fora:
        return 'Vitória Casa'
    elif gols_casa < gols_fora:
        return 'Vitória Visitante'
    else:
        return 'Empate'

df['RESULTADO'] = df.apply(lambda row: determinar_resultado(row['GOLS_CASA'], row['GOLS_FORA']), axis=1)

# EXIBINDO O DATAFRAME DA COLUNA RESULTADO
print("\nDados com a coluna de resultado:")
print(df.head())

Dados com a coluna de resultado:
         DATA TIME_CASA TIME_VISITANTE  GOLS_CASA  GOLS_FORA CAMPEONATO  \
0  1872-11-30  Scotland        England        0.0        0.0   Friendly
1  1873-03-08   England       Scotland        4.0        2.0   Friendly
2  1874-03-07  Scotland        England        2.0        1.0   Friendly
3  1875-03-06   England       Scotland        2.0        2.0   Friendly
4  1876-03-04  Scotland        England        3.0        0.0   Friendly

    CIDADE      PAIS  CAMPO_NEUTRO     RESULTADO
0  Glasgow  Scotland         False        Empate
1   London   England         False  Vitória Casa
2  Glasgow  Scotland         False  Vitória Casa
3   London   England         False        Empate
4  Glasgow  Scotland         False  Vitória Casa

In [44]:
df = pd.DataFrame(df_resultados)

# ADICIONANDO COLUNA DE RESULTADO
df['RESULTADO_CASA'] = df.apply(lambda row: 'Vitória' if row['GOLS_CASA'] > row['GOLS_FORA'] else ('Empate' if row['GOLS_CASA'] == row['GOLS_FORA'] else 'Derrota'), axis=1)
df['RESULTADO_FORA'] = df.apply(lambda row: 'Vitória' if row['GOLS_FORA'] > row['GOLS_CASA'] else ('Empate' if row['GOLS_FORA'] == row['GOLS_CASA'] else 'Derrota'), axis=1)

# CALCULANDO OS PONTOS DE CADA TIME
df['PONTOS_CASA'] = df['RESULTADO_CASA'].apply(lambda x: 3 if x == 'Vitória' else (1 if x == 'Empate' else 0))
df['PONTOS_FORA'] = df['RESULTADO_FORA'].apply(lambda x: 3 if x == 'Vitória' else (1 if x == 'Empate' else 0))

# UNINDO OS DADOS E CALCULANDO OS DESEMPENHOS
df_casa = df[['CAMPEONATO', 'TIME_CASA', 'PONTOS_CASA']].rename(columns={'TIME_CASA': 'TIME', 'PONTOS_CASA': 'PONTOS'})
df_fora = df[['CAMPEONATO', 'TIME_VISITANTE', 'PONTOS_FORA']].rename(columns={'TIME_VISITANTE': 'TIME', 'PONTOS_FORA': 'PONTOS'})

df_desempenho = pd.concat([df_casa, df_fora])

# AGRUPANDO POR CAMPEONATO E TIME
desempenho_por_time = df_desempenho.groupby(['CAMPEONATO', 'TIME']).sum().reset_index()

# ORDENANDO O DATAFRAME
desempenho_por_time = desempenho_por_time.sort_values(by=['CAMPEONATO', 'PONTOS'], ascending=[True, False])

# EXIBINDO O DATAFRAME DE RESULTADO POR TIME
print("Desempenho por campeonato para cada time (ordenado por campeonato e pontos):")
print(desempenho_por_time)

Desempenho por campeonato para cada time (ordenado por campeonato e pontos):
                CAMPEONATO            TIME  PONTOS
3          ABCS Tournament        Suriname      23
2          ABCS Tournament         Curaçao      14
0          ABCS Tournament           Aruba      10
1          ABCS Tournament         Bonaire       8
12           AFC Asian Cup            Iran     155
...                    ...             ...     ...
2640       World Unity Cup     Tamil Eelam       6
2639       World Unity Cup  Chagos Islands       3
2638       World Unity Cup          Barawa       0
2641  Évence Coppée Trophy         Belgium       1
2642  Évence Coppée Trophy          France       1

[2643 rows x 3 columns]

In [46]:
# FILTRANDO O DATAFRAME DO CAMPEONATO "FRIENDLY"
campeonato_friendly = desempenho_por_time[desempenho_por_time['CAMPEONATO'] == 'Friendly']

# IMPRIMINDO OS 20 PRIMEIROS DO CAMPEONATO
print("20 primeiros resultados do campeonato 'Friendly':")
print(campeonato_friendly.head(20))

20 primeiros resultados do campeonato 'Friendly':
     CAMPEONATO                 TIME  PONTOS
1419   Friendly              Germany    1056
1356   Friendly               Brazil     977
1436   Friendly              Hungary     943
1563   Friendly               Sweden     879
1402   Friendly              England     798
1515   Friendly               Poland     798
1478   Friendly               Mexico     762
1411   Friendly               France     759
1489   Friendly          Netherlands     704
1443   Friendly                Italy     695
1332   Friendly            Argentina     693
1338   Friendly              Austria     667
1558   Friendly                Spain     638
1347   Friendly              Belgium     615
1524   Friendly               Russia     586
1564   Friendly          Switzerland     554
1580   Friendly  Trinidad and Tobago     543
1501   Friendly               Norway     529
1392   Friendly              Denmark     525
1555   Friendly          South Korea     507

In [48]:
# FILTRANDO O DATAFRAME DO CAMPEONATO "FIFA WORLD CUP"
campeonato_fifa = desempenho_por_time[desempenho_por_time['CAMPEONATO'] == 'FIFA World Cup']

# IMPRIMINDO OS 20 PRIMEIROS DO CAMPEONATO
print("20 primeiros resultados do campeonato 'FIFA World Cup':")
print(campeonato_fifa.head(20))

20 primeiros resultados do campeonato 'FIFA World Cup':
          CAMPEONATO         TIME  PONTOS
1011  FIFA World Cup       Brazil     247
1031  FIFA World Cup      Germany     225
1005  FIFA World Cup    Argentina     158
1042  FIFA World Cup        Italy     156
1029  FIFA World Cup       France     131
1028  FIFA World Cup      England     118
1072  FIFA World Cup        Spain     110
1049  FIFA World Cup  Netherlands     104
1082  FIFA World Cup      Uruguay      88
1008  FIFA World Cup      Belgium      73
1073  FIFA World Cup       Sweden      70
1063  FIFA World Cup       Russia      67
1047  FIFA World Cup       Mexico      66
1058  FIFA World Cup       Poland      57
1059  FIFA World Cup     Portugal      57
1074  FIFA World Cup  Switzerland      50
1084  FIFA World Cup   Yugoslavia      49
1036  FIFA World Cup      Hungary      48
1019  FIFA World Cup      Croatia      47
1007  FIFA World Cup      Austria      40